<%= form_for [list, list.posts.new], remote: true, html: {id: 'post_form'} do |f| %>
  <strong>Add a new post</strong>
  <div>
    <%= f.label :title %>
    <%= f.text_field :title %>
  </div>
  <div>
    <%= f.label :copy %>
    <%= f.text_area :copy %>
  </div>
  <%= f.submit %>
<% end %>

<script>
$(function() {
  $('#post_form')
    .bind('ajax:error', function() {
      alert('Failure!')
    })
    .bind('ajax:success', function() {
      this.reset();
    });

  $('#post_list a[data-method="delete"]').click(function(e) {
    $(this).parents('.post').remove();
  });
});
</script>