<style>
ol li {
  list-style-type: decimal;
}

ul#tips li {
  border: 1px solid #ccc;
  list-style-type: none;
  margin-top: 10px;
  padding: 10px;  
}
</style>

<% title 'Lakefair 2011' %>

<h1>Lakefair</h1>

<ul>
  <li><strong>When: </strong>August 27th, 1pm - 4pm</li>
  <li><strong>Where: </strong>Greenlake</li>
  <li><strong>What: </strong>Floating</li>
</ul>

<h3>The Plan</h3>
<%= image_tag 'float/plan.png' %>
<ol style="margin-top: 10px;">
  <li>
    Meet north of the Seattle Public House.
    Prepare floatation devices.
  </li>
  <li>
    Depart towards the floating area.
  </li>
  <li>
    Tie up to buoy and float.
  </li>
</ol>

<h3>Recommendations for Novice Floaters</h3>
<p style="margin-bottom: 14px;">
  Skilled &amp; experienced floaters can safely skip this section.
</p>
<ul id="tips">
  <li>
    <strong>Beer Cans</strong> are recommended over beer bottles.
    Beer can be stored in a mesh sack and held over the side of your floatation device in the water.
    This sack cost $8 at Big 5.
    <div>
      <%= image_tag 'float/pbr.png', style: 'padding: 0 20px 20px 0' %>
      <%= image_tag 'float/teabag.png' %>
    </div>
  </li>
  <li>
    <strong>Wine and Hard Alcohol</strong> can be transported in a platypus.
    When the cops come, tell them it's dirty water.
    <div style="padding-top: 10px">
      <%= image_tag 'float/wine.png' %>
      <%= image_tag 'float/platypus.png' %>
    </div>
  </li>
  <li>
    If you don't have a flotation device, get a <strong>Raft that comes with Paddles</strong>.
    Nobody is going to tow your bitch ass to sea.
    <div>
      <%= image_tag 'float/sevlyor.jpg' %>
    </div>
  </li>
</ul>

<h3>Contact</h3>
<p>
  Call Matthew Higgins at 206.902.6006 or email me@matthewhiggins.com.
</p>