<% title 'Matthew Higgins.com' %>

<div class="projects">
  Nothing to see here
  <!-- <h3>Work</h3> -->
  <!-- <div class="project">
    <%= link_to 'http://www.gotime.com' do %>
      <%= image_tag 'logos/gotime.png' %>
    <% end %>
    <p>
      The company I work for.
    </p>
  </div>
  <div class="project">
    <a href="http://stuffwhitepeopledid.com">
      <h1 id="swpd">Stuff White People Did</h1>
    </a>
    <p>
      A facebook app based on Stuff White People Like
    </p>
  </div> -->
  <!-- <div class="project">
    <%= link_to 'http://www.haikuvillage.com' do %>
      <%= image_tag 'logos/haikuvillage.png', alt: 'Haiku Village' %>
    <% end %>
    <p>
      My first Rails project from 6 years ago!
    </p>
  </div>
  <div class="project">
    <a href="http://www.strictlyuntyped.com">
      <h1 id="strictly-untyped">Strictly Untyped</h1>
    </a>
    <p>
      My blog.
    </p>
  </div>
  <div class="project">
    <%= link_to 'Projects on github', 'https://github.com/matthuhiggins', id: 'github' %>
  </div> -->
</div>
