<% title 'Matthew Higgins.com' %>

<%= stylesheet_link_tag 'index' %>

<div class="projects">
  <h3>Work</h3>
  <div class="project">
    <%= link_to 'http://www.gotime.com' do %>
      <%= image_tag 'logos/gotime.png' %>
    <% end %>
    <p>
      The company I work for.
    </p>
  </div>
  <div class="project">
    <a href="http://stuffwhitepeopledid.com">
      <h1 id="swpd">Stuff White People Did</h1>
    </a>
    <p>
      A facebook app based on Stuff White People Like
    </p>
  </div>
  <div class="project">
    <%= link_to 'http://www.haikuvillage.com' do %>
      <%= image_tag 'logos/haikuvillage.png' %>
    <% end %>
    <p>
      A place to create and share haiku.
    </p>
  </div>
  <div class="project">
    <a href="http://www.strictlyuntyped.com">
      <h1 id="strictly-untyped">Strictly Untyped</h1>
    </a>
    <p>
      My blog.
    </p>
  </div>
</div>
