<style>
/*    body {
    font-family: Arial;
    margin: 0 auto;
  }
*/    h1 {
    color: #333;
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    padding:0 ;
  }
  
  h2 {
    font-size: 32px;
    border-bottom: 2px solid #ccc;
    margin: 20px 0 0 0;
    padding-bottom: 6px;
    padding-left: 40px;
  }
  
  .sarah {
    color: pink;
    font-weight: bold;
  }

  .matt {
    color: green;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    padding-bottom: 6px;
  }
  
  .entry {
    overflow: hidden;
    margin: 25px 40px 0 40px;
  }
  
  .entry img {
    float: left;
    margin: 0 10px;
    width: 40%;      
  }
  .entry .copy {
    float: left;
    margin: 0 10px;
    width: 50%;
  }
</style>

  <h1>
    <span class="sarah">Sarah</span> and 
    <span class="matt">Matt</span> => Laguna Beach
  </h1>
  
  <h2>Day #1: Initial Penetration</h2>
  
  <div class="entry">
    <div class="copy">
      <p>
        Here is a picture of <span class="matt">Matt</span>.
        Matt wants to play in the waves and doesn't want to do a 9.6 mile hike tomorrow!
      </p>
      <p>
        Waiting for a beer at bars annoys Matt more than crying kids on the plane.
        There weren't any crying kids on the plane except for Matt himself.
      </p>
    </div>
    <%= image_tag 'laguna/matt.jpg' %>
  </div>
  <div class="entry">
    <%= image_tag 'laguna/sarah.jpg' %>
    <div class="copy">
      <p>
        Here is a picture of <span class="sarah">Sarah</span>.
        She isn't having a very good time.
        Maybe she is afraid of planes or wants to be reading Cosmo instead
        of hanging out with Matt.
      </p>
      <p>
        Sarah found a replacement for Matt; she bought a recent issue of Us Weekly.
        She plans on telling Matt everything that happened to Leonardo DiCaprio after done reading.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        This is the most evil lock in the world.
        After arriving at midnight, we learned that the bottom knob was accidentally locked.
        We drove to Pasadena and finally got in around 2am.
      </p>
    </div>
    <%= image_tag 'laguna/lock.jpg' %>
  </div>
  
  <h2>Day #2: Friendly Locals</h2>
  <div class="entry">
    <%= image_tag 'laguna/spelunker.jpg' %>
    <div class="copy">
      <p>
        We went on a hike called Bommer in the Laguna Coast Wilderness Park.
        Sarah tried to hide in this cave, and soon thereafter forced Matt to run most of the trail.
        The trail ended with a splendid view of a freeway and an upper-middle class suburbia.
        Beautiful stuff.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        Sarah pretends to be sad before Matt takes her to dinner.
        We can't remember why she was doing this, but most likely because Matt did not want to go shopping.
      </p>
    </div>
    <%= image_tag 'laguna/window.jpg' %>
  </div>
  <div class="entry">
    <%= image_tag 'laguna/tj.jpg' %>
    <div class="copy">
      <p>
        After dinner, we hit up the Marine Room Tavern.
        Behind the bar was a tan, blonde WWF looking feller with a ponytail.
        Here is where we met TJ and his girl, the only other occupants of the fine establishment.
      </p>
      <p>
        TJ and Matt became BFF and exchanged phone numbers.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        Our waiter at dinner, David, invited us to hit the town with the locals.
        Soon after this picture was taken, Sarah and the girls performed an interpretive Lady Gaga karaoke.
        What that means is that both of them danced, and neither of them sang.
        Matt and David functioned as backup dancers.
      </p>
      <p>
        A good first day in Laguna.
      </p>
    </div>
    <%= image_tag 'laguna/david.jpg' %>
  </div>
  <h2>Day #3: Things Go South</h2>
  <div class="entry">
    <%= image_tag 'laguna/facebooker.jpg' %>
    <div class="copy">
      <p>
        Sarah spent the entire morning updating her facebook page while Matt made bacon to cure their awesome hangovers.
      </p>
      <p>
        When she finally finished reading updates from all 591 of her friends, they ran to the gym.
        Every old man at the gym talked to Sarah.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        Matt's friend John from Seattle was on vacation in California too!
        They drank mimosas at the Boardwalk Restaurant, and Matt was generally useless for the remainder of the day.
      </p>
    </div>
    <%= image_tag 'laguna/john.jpg' %>
  </div>
  <div class="entry">
    <%= image_tag 'laguna/water.jpg' %>
    <div class="copy">
      <p>
        We drove down to San Diego Friday evening to see Sarah's friend Laura.
        Sarah got thirsty, so Matt bought her an unsealed, unlabeled bottle of water.
      </p>
      <p>
        Sarah was very unhappy about this, but drank it anyway.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        The girls spent three hours getting ready.
        It goes without saying that Matt had a KILLER time.
      </p>
      <p>
        We finally made it into a bar at 12:45am, wherein Matt sucked down as many drinks as possible.
        Apparently Matt didn't drink as much as Laura, who got our cab lost and yelled at the cab driver for not knowing American history.
      </p>
    </div>
    <%= image_tag 'laguna/hoes.jpg' %>
  </div>
  <h2>Day #4: Sarah &amp; the Ferris Wheel</h2>
  <div class="entry">
    <%= image_tag 'laguna/boardwalk.jpg' %>
    <div class="copy">
      <p>
        Something not mentioned about last night is that the girls spent two hours talking about the tattoos they are supposed to get in the morning.
      </p>
      <p>
        Needless to say, no tattoos were inked in the morning.
        Instead, we went to the San Diego boardwalk and Matt ate a metaphoric breakfast called "Short on Cash".
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        On the drive back to Laguna, the nasty California traffic caused Sarah to have a small tantrum.
        She really wanted to work out and didn't know why everyone was driving so slow.
      </p>
      <p>
        While Sarah burned calories at the gym, Matt sat his fat ass on our deck pictured here.
      </p>
    </div>
    <%= image_tag 'laguna/deck.jpg' %>
  </div>
  <div class="entry">
    <%= image_tag 'laguna/boat.jpg' %>
    <div class="copy">
      <p>
        We went up to Newport to visit Larry Brown, Aunt Rosemary and Larry's son Andrew.
      </p>
      <p>
        While out on Larry's Duffy boat, Matt saw a pelican, Larry bitched about sea lions, Sarah tried to have mature conversation, Rosemary complained about Democrats, and Andrew drove.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        After the elders went to bed, Andrew, Sarah and Matt went back out on the boat.
      </p>
      <p>
        All Sarah wanted to do was ride the Ferris wheel.
        All the boys wanted to do was drink Mai Tais.
        We went to the old boardwalk, where Sarah finally lived her dream of riding the Ferris wheel.
        Her dream turned to a nightmare when Matt rocked their passenger car like a madman.
    </div>
    <%= image_tag 'laguna/ferris.jpg' %>
  </div>
  <h2>Day #5: Gym Tan Laundry</h2>
  <div class="entry">
    <%= image_tag 'laguna/bros.jpg' %>
    <div class="copy">
      <p>
        On the previous night, Sarah grew tired of the boys and drove home.
      </p>
      <p>
        Matt woke up in typical form on Sunday morning, not knowing where he was or how he got there.
        He turned out to be in a very large house, where a Mexican slave made him breakfast.
        Andrew deposited him back in Laguna beach after breakfast.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        While Matt slept in, Sarah explored the town.
        Matt made his weekly Sunday morning promise of never drinking again.
      </p>
      <p>
        Here is one of the parks she discovered, right next to a restaurant we ate at called The Cliff.
      </p>
    </div>
    <%= image_tag 'laguna/cliff.jpg' %>
  </div>
  <div class="entry">
    <%= image_tag 'laguna/runner.jpg' %>
    <div class="copy">
      <p>
        Pictured here is a bag lady named Sarah who runs everywhere.
      </p>
      <p>
        In this figure, she is running with our nacho supplies, which we ate while watching the Mavericks own LeBron James.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        Matt and Sarah had a romantic sunset walk along the bluff.
        Nothing funny to say here, this was serious business.
      </p>
      <p>
        Then they got Gelato!
      </p>
    </div>
    <%= image_tag 'laguna/sunset.jpg' %>
  </div>
  <h2>Day #6: Tag</h2>
  <div class="entry">
    <%= image_tag 'laguna/rugrats.jpg' %>
    <div class="copy">
      <p>
        Sarah's professor from College brought his family to the beach for lunch.
        His family includes a lovely wife and two devilish boys.
      </p>
      <p>
        Sarah found herself running for her life from Alex in a game of tag.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        Sarah finally manages to gain control of Alex and Jared.
      </p>
      <p>
        Alex has some maturing to do.
      </p>
    </div>
    <%= image_tag 'laguna/babysitter.jpg' %>
  </div>
  <div class="entry">
    <%= image_tag 'laguna/gym.jpg' %>
    <div class="copy">
      <p>
        During our stay, we had a one week pass to a local gym.
        Every member seemed to know every other member.
      </p>
      <p>
        One of these gentlemen made fun of Matt for carrying a "knapsack" around the gym with him.
        For the record, it was a backpack.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        Sarah and Matt had a small falling out later in the day, so Matt went to his new favorite restaurant, The Beachcomber, alllll by himself.
      </p>
      <p>
        It was a beautiful sunset, but Matt would have liked it a lot more if his favorite explorer, Sarah, was there.
      </p>
      <p>
        :(
      </p>
    </div>
    <%= image_tag 'laguna/beachcomber.jpg' %>
  </div>
  <h2>Day #7: The Final Countdown</h2>
  <div class="entry">
    <%= image_tag 'laguna/starbucks.jpg' %>
    <div class="copy">
      <p>
        Every morning, Sarah fed her coffee addiction at Starbucks.
        She usually needed a second fix later in the day.
      </p>
      <p>
        When asked about her drug use, she refused to comment.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        Two of the top explorers in the Laguna area.
      </p>
      <p>
        This is yet another instance of Sarah making Matt run up steep hills.
        This time, there was a great view of the town, so Matt was happy.
      </p>
    </div>
    <%= image_tag 'laguna/explorers.jpg' %>
  </div>
  <div class="entry">
    <%= image_tag 'laguna/paddle.jpg' %>
    <div class="copy">
      <p>
        We went paddle boarding for the first time.
      </p>
      <p>
        At first, Sarah had the balance of a newborn giraffe, but learned quickly.
      </p>
      <p>
        See those sunglasses?
        Soon after this photo was taken, a wave swept Sarah to shore and sucked her sunglasses away.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        Our final meal before returning home at La Sirena Grill.
      </p>
      <p>
        Matt is eating carne asada quesadillas and looking super good with his fresh tan.
      </p>
    </div>
    <%= image_tag 'laguna/mexican.jpg' %>
  </div>
  <div class="entry">
    <%= image_tag 'laguna/car.jpg' %>
    <div class="copy">
      <p>
        Sarah poses on our teal Prius immediately before we returned it to Avis.
        $15 / day never looked so good.
      </p>
      <p>
        And that's the end of our trip!
      </p>
    </div>
  </div>
</body>
</html>