<style>
/*    body {
    font-family: Arial;
    margin: 0 auto;
  }
*/    h1 {
    color: #333;
    font-size: 42px;
    font-weight: bold;
    margin: 0;
    padding:0 ;
  }
  
  h2 {
    font-size: 32px;
    border-bottom: 2px solid #ccc;
    margin: 20px 0 0 0;
    padding-bottom: 6px;
    padding-left: 40px;
  }
  
  .sarah {
    color: pink;
    font-weight: bold;
  }

  .matt {
    color: green;
    font-weight: bold;
  }

  p {
    font-size: 16px;
    padding-bottom: 6px;
  }
  
  .entry {
    overflow: hidden;
    margin: 25px 40px 0 40px;
  }
  
  .entry img {
    float: left;
    margin: 0 10px;
    width: 40%;      
  }
  .entry .copy {
    float: left;
    margin: 0 10px;
    width: 50%;
  }
</style>

  <h1>
    <span class="sarah">Sarah</span> and 
    <span class="matt">Matt</span> => Laguna Beach
  </h1>
  
  <h2>Day #1: Initial Penetration</h2>
  
  <div class="entry">
    <div class="copy">
      <p>
        Here is a picture of <span class="matt">Matt</span>.
        Matt wants to play in the waves and doesn't want to do a 9.6 mile hike tomorrow!
      </p>
      <p>
        Waiting for a beer at bars annoys Matt more than crying kids on the plane.
        There weren't any crying kids on the plane except for Matt himself.
      </p>
    </div>
    <%= image_tag 'laguna/matt.jpg' %>
  </div>
  <div class="entry">
    <%= image_tag 'laguna/sarah.jpg' %>
    <div class="copy">
      <p>
        Here is a picture of <span class="sarah">Sarah</span>.
        She isn't having a very good time.
        Maybe she is afraid of planes or wants to be reading Cosmo instead
        of hanging out with Matt.
      </p>
      <p>
        Sarah found a replacement for Matt; she bought a recent issue of Us Weekly.
        She plans on telling Matt everything that happened to Leonardo DiCaprio after done reading.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        This is the most evil lock in the world.
        After arriving at midnight, we learned that the bottom knob was accidentally locked.
        We drove to Pasadena and finally got in around 2am.
      </p>
    </div>
    <%= image_tag 'laguna/lock.jpg' %>
  </div>
  
  <h2>Day #2: Friendly Locals</h2>
  <div class="entry">
    <%= image_tag 'laguna/spelunker.jpg' %>
    <div class="copy">
      <p>
        We went on a hike called Bommer in the Laguna Coast Wilderness Park.
        Sarah tried to hide in this cave, and soon thereafter forced Matt to run most of the trail.
        The trail ended with a splendid view of a freeway and an upper-middle class suburbia.
        Beautiful stuff.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        Sarah pretends to be sad before Matt takes her to dinner.
        We can't remember why she was doing this, but most likely because Matt did not want to go shopping.
      </p>
    </div>
    <%= image_tag 'laguna/window.jpg' %>
  </div>
  <div class="entry">
    <%= image_tag 'laguna/tj.jpg' %>
    <div class="copy">
      <p>
        After dinner, we hit up the Marine Room Tavern.
        Behind the bar was a tan, blonde WWF looking feller with a ponytail.
        Here is where we met TJ and his girl, the only other occupants of the fine establishment.
      </p>
      <p>
        TJ and Matt became BFF and exchanged phone numbers.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        Our waiter at dinner, David, invited us to hit the town with the locals.
        Soon after this picture was taken, Sarah and the girls performed an interpretive Lady Gaga karaoke.
        What that means is that both of them danced, and neither of them sang.
        Matt and David functioned as backup dancers.
      </p>
      <p>
        A good first day in Laguna.
      </p>
    </div>
    <%= image_tag 'laguna/david.jpg' %>
  </div>
  <h2>Day #3: Things Go South</h2>
  <div class="entry">
    <%= image_tag 'laguna/facebooker.jpg' %>
    <div class="copy">
      <p>
        Sarah spent the entire morning updating her facebook page while Matt made bacon to cure their awesome hangovers.
      </p>
      <p>
        When she finally finished reading updates from all 591 of her friends, they ran to the gym.
        Every old man at the gym talked to Sarah.
      </p>
    </div>
  </div>
  <div class="entry">
    <div class="copy">
      <p>
        Matt's friend John from Seattle was on vacation in California too!
        They drank mimosas at the Boardwalk Restaurant, and Matt was generally useless for the remainder of the day.
      </p>
    </div>
    <%= image_tag 'laguna/john.png' %>
  </div>
  <div class="entry">
    <%= image_tag 'laguna/water.jpg' %>
    <div class="copy">
      <p>
        We drove down to San Diego Friday evening to see Sarah's friend Laura.
        Sarah got thirsty, so Matt bought her an unsealed, unlabeled bottle of water.
      </p>
      <p>
        Sarah was very unhappy about this, but drank it anyway.
      </p>
    </div>
  </div>
  <div class="entry">
    <%= image_tag 'laguna/hoes.jpg' %>
    <p>
      The girls spent three hours getting ready.
      It goes without saying that Matt had a KILLER time.
    </p>
    <p>
      We finally made it into a bar at 12:45am, wherein Matt sucked down as many drinks as possible.
      Apparently Matt didn't drink as much as Laura, who got our cab lost and yelled at the cab driver for not knowing American history.
    </p>
  </div>
  <h2>Day #3: </h2>
  <h2>Day #4: Gym Tan Laundry</h2>
</body>
</html>