<%= stylesheet_link_tag 'impress' %>
<% title 'LOML' %>

<div id="impress" class="impress-not-supported">
  <div class="fallback-message">
    <p>You browser <strong>sucks</strong>. Try using Chrome.</p>
  </div>

  <div class="step slide" id="cover" data-x="-2000" data-y="-1500">
    <q>To: <strong>Brigitte</strong></q>
    <q>From: <strong>Matt</strong></q>
    <q class="hint">A short <strong>love</strong> memoir. Use your arrow keys to begin!</q>
  </div>

  <div class="step slide" id="definition" data-x="-1000" data-y="-1500">
    <strong>LOML</strong> (lä'mōl)
    <p><em>n.</em></p>
    <blockquote>
      1. Acronym for love of my life. A soulmate. Often abbreviated as loms.
    </blockquote>
    <div class="examples">
      <div>Examples of lomls:</div>
      <%= image_tag 'loml/cute.jpg', style: 'margin-right: 48px;' %>
      <%= image_tag 'loml/hey.jpg' %>
    </div>
  </div>

  <div class="step slide narrative" id="met" data-x="0" data-y="-1500">
    <q>
      I met my loml on <strong>June 4th, 2011</strong>.
    </q>
    <q>
      Brigitte Woods, a bright young girl with the face of an angel, walked up to me, a drunk old man, and we had a great chat<sup>*</sup>
    </q>
    <div class="footnote"><sup>*</sup> There was more than a chat - we had a kiss!</div>
  </div>

  <div class="step slide narrative" data-x="1000" data-y="-1500">
    <q>
      You really loved receiving <strong>holds</strong>, and I loved giving <strong>holds</strong>.
      We were a great match.
    </q>
    <q>
      On the next page, I'll tell you what happened after just one moon!
    </q>
  </div>

  <div id="lomls" class="step" data-x="-500" data-y="0" data-scale="4">
    <span class="try">We became</span>
    <h1>LOMLs!</h1>
  </div>

  <div id="times" class="step slide narrative" data-x="1000" data-y="0" data-rotate="90">
    <p>
      You &amp; I always have a <strong>great time</strong>.
    </p>
    <div style="margin: 50px;">
      <%= image_tag 'loml/shots.jpg' %><%= image_tag 'loml/drinker.jpg' %><%= image_tag 'loml/hikers.jpg' %><%= image_tag 'loml/gamer.jpg' %><%= image_tag 'loml/club.jpg' %><%= image_tag 'loml/wine.jpg' %>
    </div>
    <p>
      And adore each other very much.
    </p>
  </div>

  <div id="dentist" class="step slide narrative" data-x="1000" data-y="1000" data-rotate="90">
    <o>One day, you started dental school and got <strong>really smart!</strong></p>
    <div style="margin-top: 80px; text-align: center">
      <%= image_tag 'loml/dentist.jpg' %>
    </div>
  </div>

  <div id="idiot" class="step slide narrative" data-x="1000" data-y="2000" data-rotate="90">
    <p>I, on the other hand, <strong>did not:</strong></p>
    <div style="margin-top: 80px; text-align: center">
      <%= image_tag 'loml/idiot.jpg' %>
    </div>
  </div>

  <div id="ing" class="step narrative" data-x="2000" data-y="2000" data-rotate="90">
    <p>
      Things I love about you include
      <span class="love first">your <strong>dreams</strong>,</span> <span class="love second">your <strong>thoughts</strong></span> <span class="love third">and your <strong>heart</strong>.</span>
    </p>
  </div>

  <div id="tiny" class="step" data-x="3000" data-y="1000" data-z="-1000" data-scale="1">
    <p>I love the <strong>little</strong> things about you</p>
  </div>

  <div id="big" class="step" data-x="3000" data-y="0" data-z="1000" data-scale="3">
    <p>And the <strong>BIG</strong> things too!</p>
  </div>

  <div id="pirate" class="step slide narrative" data-x="3000" data-y="-1000">
    <q>I love you as a pirate</q>
    <div style="margin-top: 80px; text-align: center">
      <%= image_tag 'loml/pirate.jpg' %>
    </div>
  </div>

  <div id="sleepy" class="step slide narrative" data-x="3000" data-y="-2000">
    <q>And as a sleepy bee too!</q>
    <div style="margin-top: 80px; text-align: center">
      <%= image_tag 'loml/sleepy_bee.jpg' %>
    </div>
  </div>

  <div id="christmas" class="step slide narrative" data-x="4000" data-y="-2000">
    <q>Celebrating our first <strong>Christmas</strong> was the best.</q>
    <div style="margin-top: 80px; text-align: center">
      <%= image_tag 'loml/holiday.jpg' %>
    </div>
  </div>
  <div id="valentines" class="step slide narrative" data-x="4000" data-y="-1000">
    <q>And today I feel so lucky to have you as my <strong>Valentine's</strong>.</q>
    <div style="margin-top: 80px; text-align: center">
      <%= image_tag 'loml/heart.jpg' %>
      <q>Here's Why ...</q>
    </div>
  </div>

  <div id="dimension" class="step narrative" data-x="5500" data-y="2000" data-z="3000" data-rotate-x="-90" data-rotate-y="45" data-scale="6">
    <p>
      You add a <strong>new dimension</strong> to my life, and make me the <strong>happiest</strong> man in all the world.
    </p>
    <p style="margin-top: 20px">That's why you're my LOML.</p>
  </div>
  
  <div id="end" class="step" data-x="4000" data-y="2000">
    <p>The End</p>
  </div>

  <div id="overview" class="step" data-x="3000" data-y="1500" data-scale="10">
  </div>

</div>