<% title 'Spain' %>

<style>
#frame {
  overflow: hidden;
}
#frame aside {
  float: right;
}
#frame article {
  float: left;
}
</style>

<aside>
  <div id="map">
    <%= image_tag 'spain/map.png' %>
  </div>
  <ul>
    <li><%= link_to 'Barcelona', anchor: 'barcelona' %></li>
    <li><%= link_to 'Altea', anchor: 'altea' %></li>
    <li><%= link_to 'Granada', anchor: 'granada' %></li>
    <li><%= link_to 'Nerja', anchor: 'nerja' %></li>
    <li><%= link_to 'Ronda', anchor: 'ronda' %></li>
    <li><%= link_to 'Sevilla', anchor: 'sevilla' %></li>
    <li><%= link_to 'Cordoba', anchor: 'cordoba' %></li>
    <li><%= link_to 'Madrid', anchor: 'madrid' %></li>
  </ul>
</aside>

<article>
  <section id="barcelona">
    A great time
  </section>
  <section id="altea">
    A great beach
  </section>
  <section id="granada">
  </section>
  <section id="nerja">
    
  </section>
</article>
