<% title 'Spain' %>

<style>
#spain.index p {
  padding-right: 100px;
}

#spain.index .menu_wrap {
  overflow: hidden;
}

#spain.index .menu_wrap .map {
  float: left;
  margin-top: 10px;
}

#spain.index .menu_wrap .menu {
  float: left;
  width: 300px;
/*  margin-left: 14px;*/
}

#spain.index .menu_wrap h1 {
  padding-bottom: 14px;
}

#spain.index .menu_wrap li {
  font-size: 17px;
  padding: 2px 0;
}

#spain.index .visits h3 {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  
/*  padding: 30px 0 10px 0;*/
}

#spain.index .visits .image_array {
  margin-top: 15px;
  overflow: hidden;
}

#spain.index .visits .image_array a {
  float: left;
  height: 60px;
  padding: 2px;
}
</style>

<div class="menu_wrap">
  <div class="menu">
    <h1>Spain 2012</h1>
    <ul class="menu">
      <li><%= link_to 'Barcelona', anchor: 'barcelona' %></li>
      <li><%= link_to 'Altea', anchor: 'altea' %></li>
      <li><%= link_to 'Granada', anchor: 'granada' %></li>
      <li><%= link_to 'Nerja', anchor: 'nerja' %></li>
      <li><%= link_to 'Ronda', anchor: 'ronda' %></li>
      <li><%= link_to 'Sevilla', anchor: 'sevilla' %></li>
      <li><%= link_to 'Cordoba', anchor: 'cordoba' %></li>
      <li><%= link_to 'Madrid', anchor: 'madrid' %></li>
    </ul>
  </div>
  <div class="map">
    <%= image_tag 'spain/map.png', height: 240, width: 320 %>
  </div>
</div>

<div class="visits">
  <div id="barcelona">
    <h3>Barcelona - Aug 16</h3>
    <p>
      We arrived in the morning and Brigitte was very sleepy.
      Our amazing trip started with a long nap - the first of many siestas.
    </p>
    <p>
      After Brigitte finally woke up, we walked around the El Gotic neighborhood.
      It includes such sites as the Christopher Colòn monument and Las Ramblas, a busy street full of street performers.
    </p>
    <p>
      We ate dinner at Pla, then enjoyed too many <%= link_to 'Estrellas', 'http://en.wikipedia.org/wiki/Estrella_Damm' %>, and finally Brigitte pretended she was good at the guitar.
    </p>
    <%= render 'image_array', folder: 'barcelona/1' %>
        
    <h3>Barcelona - Aug 17</h3>
    <p>
      The beach in Barcelona is incredibly crowded, but Matt didn't complain about the topless females.
      Due to her pale Seattle skin, Brigitte was very easy to spot in the crowd.
    </p>
    <p>
      After a strenous morning of tanning, we needed a siesta.
      We had a siesta every day for the rest of the trip so I'll stop mentioning that part.
    </p>
    <p>
      The evening was action packed.
      It started with a visit to <%= link_to 'Park Güell', 'http://en.wikipedia.org/wiki/Park_G%C3%BCell' %>, designed by Gaudi.
      (Everything in Barcelona seems to be designed by Gaudi).
      There was also a street festival in the evening called Fiesta de Gracia, with lots of decorations.
    </p>
    <%= render 'image_array', folder: 'barcelona/2' %>
    
    <h3>Barcelona - Aug 18</h3>
    <p>
      Feeling desperate for a Sunday brunch, we went to an American-style restaurant up the street called Milk, which was packed full of Scottish folk.
      We then devoted the rest of our day to tourism.
    </p>
    <p>
      First to La Sagrada Familia (also a Gaudi design) which is a giant cathedral that commenced construction in 1882 and is set to finish in 2026.
      We hope to return to Spain again to see the finished product.
    </p>
    <p>
      Next came Casa Batllo.
      We were pleased with the underwater theme and light wells.
      Then we hopped on a sightseeing bus which led us to Montjuic, home of the 1992 olympics and the communication tower which Matt promptly summited.
    </p>
    <%= render 'image_array', folder: 'barcelona/3' %>
  </div>
  <div id="altea">
    <h3>Altea - Aug 19</h3>
    <p>
      We said adios to Barcelona by hopping in a rental car and driving south along the Costa Blanca to Altea.
      Brigitte was driving and was pleased with the fast speeds and prompt left-sided passes on the freeways, but lost her wits upon driving into her first roundabout.
    </p>
     <p>
       We stopped in Valencia to see the famed <%= link_to 'City of Arts and Sciences', 'http://en.wikipedia.org/wiki/City_of_Arts_and_Sciences' %> that Matt had been talking about for weeks.
      Then we headed to Altea and were excited to find a bidet in our room!
    </p>
    <%= render 'image_array', folder: 'altea/1' %>
    
    <h3>Altea - Aug 20 - 21</h3>
    <p>
      The next couple days in Altea were full of relaxation. 
      We worked on our tans on the pebble beaches and ate great meals.
    </p>
    <p>
      One of our highlights was renting bikes and riding
      past the town of Albir to hike through the Sierra Helada national park. 
    </p>
    <p>
      We wished we had more time to spend in this fantastic town.
    </p>
    <%= render 'image_array', folder: 'altea/2' %>
  </div>
  <div id="granada">
    <h3>Granada - Aug 22</h3>
    <p>
      Arrived in Granada in the middle of the siesta and Brigitte was
      nervous we got the directions wrong. It was a sweltering ghost town.
    </p>
    <p>
      After waiting out the heat, we ventured to the nearby Albacin neighborhood and walked up to the Mirador San Nicolas with views of the Alhambra and a great outdoor restaurant.
    </p>
    <%= render 'image_array', folder: 'granada/1' %>
    
    <h3>Granada - Aug 23</h3>
    <p>
      Woke up at an alarmingly early Spanish hour (7:30AM) for our tour of
      the Alhambra. This was by far our favorite thing in Granada. Fantastic
      grounds, buildings, and views. Plus we got out of there before the
      heat hit! We got some more free tapas that evening, including the
      worst tapas of all time--fried breadcrumbs called Migas. Madrid was
      playing Barcelona that night so we wandered the streets trying to find
      a "scene" to watch the game at.
    </p>
    <%= render 'image_array', folder: 'granada/2' %>
    
  </div>
  <div id="nerja">
    <h3>Nerja - Aug 24</h3>
    <p>
      The primary purpose of going to Nerja was to relax, and that's exactly what we did.
      Matt was also super pumped about the Balcon De Europa!
    </p>
    <p>
      On our way from Granada to Nerja, we saw goats and checked out the Arab Castle.
    </p>
    <%= render 'image_array', folder: 'nerja/1' %>

    <h3>Nerja - Aug 25 - 27</h3>
    <p>
      There are not many historical tourist attractions in Nerja, but they've got a magical train!
      Despite the fact that the conductor gets to drive a train all day, he didn't seem happy about his job.
    </p>
    <p>
      While we primarily focused on tanning and eating, we checked out the Nerja Caves.
      The cave is HUGE and full of stalactites and stalagmites.
    </p>
    <%= render 'image_array', folder: 'nerja/2' %>
  </div>
  <div id="ronda">
    <h3>Ronda - Aug 28</h3>
    <p>
      Ronda is awesome, because it's built on a cliff.
      There's also a very large bridge named <%= link_to 'Puente Nevo', 'http://en.wikipedia.org/wiki/Puente_Nuevo' %>.
    </p>
    <p>
      We learned that the quality of tapas vary greatly between restaurants, even though they all have similar prices.
      Brigitte found a great place called Traga Tapas.
    </p>
    <p>
      Later in the evening, we visited an Irish pub where Matt drank a good beer while Brigitte counted her coins.
    </p>
    <%= render 'image_array', folder: 'ronda/1' %>
    
    <h3>Ronda - Aug 29</h3>
    <p>
      It was one of those days with a lot of walking, and by now we were used to our shirts being soaked in sweat by the end of it.
    </p>
    <p>
      We missed the bullfighting by a week, but we still visited the arena and brought our own fake bull.
      Matt was all pumped about a painter and bought one of his originals.
      The artist called Matt "boy" and taught him a few things about life.
    </p>
    <p>
      Of course, we checked out the views from the cliff as often as possible, and ended the night at a tapas place called De Locos Tapas.
      It was about $30 for a 6 tapas and a bottle of wine.
      Good thing those Spainiards are in a depression.
    </p>
    <%= render 'image_array', folder: 'ronda/2' %>
  </div>
  <div id="sevilla">
    <h3>Sevilla - Aug 30 - 31</h3>
    <p>
      Only a few days remained in the trip, which was very sad because we were growing accustomed to travelling and not working.
      Sevilla has some well known architecture, including a big old cathedral that they cleverly named Sevilla Catedral.
    </p>
    <p>
      We bought tickets for the Arab bathhouse, which is a dark place where you sit in hot water, cold water, lukewarm water, salt water and bubbling water.
      After our skin looked like raisins, we had dinner at Vineria el Telmo.
    </p>
    <p>
      In the morning after our one night in Sevilla, we visited Sevilla Plaza de Espana before departing to Cordoba.
    </p>
    <%= render 'image_array', folder: 'sevilla' %>
  </div>
  <div id="cordoba">
    <h3>Cordoba - Sep 1</h3>
    <p>
      Cordoba is a small town with a famous mosque that you might recognize by its red striped hallways.
    </p>
    <p>
      We stayed in the Jewish Quarter and ate at a Jewish restaurant. It was a quiet evening.
    </p>
    <%= render 'image_array', folder: 'cordoba' %>
  </div>
  <div id="madrid">
    <h3>Madrid - Sep 2</h3>
    <p>
      Our final day of the trip ended in Madrid.
      Madrid seemed to have fewer cultural differences from American than the south of Spain; this primarily means that it does not take 4 hours per restaurant experience.
    </p>
    <p>
      Before the night began, we visited <%= link_to 'Museo del Prado', 'http://en.wikipedia.org/wiki/Museo_del_Prado' %> and also walked by Chocolateria, a place that we would be visiting later at 4am.
    </p>
    <p>
      The evening started at Cuevas de Sesamo, an underground bar that only served sangrias.
      Afterwards, Matt finally lived out his dreams of going to a discoteca called Joy.
      Staying up until 5am helped us adapt to Seattle's timezone, where it was 10pm.
    </p>
    <%= render 'image_array', folder: 'madrid' %>
    <h3>The End</h3>
    <p>
      It was a great trip, and besides Brigitte getting stuck in a roundabout, everything went very smoothly.
      We highly recommend all the places we visited, especially the locations where we stayed for multiple days.
      And finally, a video of us having Sangrias at Cuevas de Sesamo:
    </p>
    <p>
      <iframe width="420" height="315" src="http://www.youtube-nocookie.com/embed/tFR_09YMFjc" frameborder="0" allowfullscreen></iframe>
    </p>
  </div>
    
</div>