<% title 'Spain' %>

<style>
#spain.index p {
  padding-right: 100px;
}

#spain.index .menu_wrap {
  overflow: hidden;
}

#spain.index .menu_wrap .map {
  float: left;
  margin-top: 10px;
}

#spain.index .menu_wrap .menu {
  float: left;
  width: 300px;
/*  margin-left: 14px;*/
}

#spain.index .menu_wrap h1 {
  padding-bottom: 14px;
}

#spain.index .menu_wrap li {
  font-size: 17px;
  padding: 2px 0;
}

#spain.index .visits h3 {
  border-top: 1px solid #ccc;
  margin-top: 25px;
  
/*  padding: 30px 0 10px 0;*/
}

#spain.index .visits .image_array {
  margin-top: 15px;
  overflow: hidden;
}

#spain.index .visits .image_array a {
  float: left;
  height: 60px;
  padding: 2px;
  width: 60px;
}
</style>

<div class="menu_wrap">
  <div class="menu">
    <h1>Spain 2012</h1>
    <ul class="menu">
      <li><%= link_to 'Barcelona', anchor: 'barcelona' %></li>
      <li><%= link_to 'Altea', anchor: 'altea' %></li>
      <li><%= link_to 'Granada', anchor: 'granada' %></li>
      <li><%= link_to 'Nerja', anchor: 'nerja' %></li>
      <li><%= link_to 'Ronda', anchor: 'ronda' %></li>
      <li><%= link_to 'Sevilla', anchor: 'sevilla' %></li>
      <li><%= link_to 'Cordoba', anchor: 'cordoba' %></li>
      <li><%= link_to 'Madrid', anchor: 'madrid' %></li>
    </ul>
  </div>
  <div class="map">
    <%= image_tag 'spain/map.png', height: 240, width: 320 %>
  </div>
</div>

<div class="visits">
  <div id="barcelona">
    <h3>Barcelona - Aug 16</h3>
    <p>
      We arrived in the morning and Brigitte was very sleepy.
      We booked our first room with <%= link_to 'airbnb', 'http://airbnb.com' %>, and a nice swedish girl named Ida let us in!
    </p>
    <p>
      Our amazing trip started with a long nap - our first official siesta.
    </p>
    <p>
      After Brigitte finally woke up, we walked around the El Gotic neighborhood.
      It includes such great sites as the Christopher Colòn monument and Las Romblas, a busy street full of street performers.
    </p>
    <p>
      The night ended with a nice dinner at Pla, followed by too many <%= link_to 'Estrallas', 'http://en.wikipedia.org/wiki/Estrella_Damm' %>, followed by Brigitte attempting a guitar session.
    </p>
    <%= render 'image_array', folder: 'barcelona/1' %>
        
    <h3>Barcelona - Aug 17</h3>
    <p>
      Today we learned that San Sebastian is the most crowded beach in the world. There are also some ladies who forgot to bring their bikini tops.
    </p>
    <p>
      After a hard morning's work at the beach, we needed a siesta. We had a siesta every day for the rest of the trip so I'll stop mentioning that part.
    </p>
    <p>
      It turns out that Gaudi designed everything in Barcelona.
      Park guelle
      fiesta de gracia
      drinks in the great plaza
    </p>
    <%= render 'image_array', folder: 'barcelona/2' %>
    
    <h3>Barcelona - Aug 18</h3>
    <p>
      After feeling bloated from our daily breakfasts of pastries and cafe
      con leche we decided to hit up an American-style restaurant/bar called
      Milk. Egg benedicts brought us the comfort of home. We then devoted
      the rest of our day to tourism.
    </p>
    <p>
      First to La Sagrada Familia (also a
      Gaudi design) which is a giant cathedral that commenced construction
      in 1882 and is set to finish in 2026 (the centennial of Gaudi's
      death). We hope to return to Spain again to see the finished product.
    </p>
    <p>
      Next came Casa Batllo, which was built by Gaudi for a textile
      industrialist in the early 20th century. We were pleased with the
      underwater theme and light wells. Then we decided to be uber tourists
      and hopped on a sightseeing bus which led us to Montjuic, home of the
      1992 olympics and the communication tower which Matt promptly
      summited. We attempted to forgo our siesta that day and push onwards
      with the tour bus, but we eventually surrendered to the afternoon
      heat.
    </p>
    <%= render 'image_array', folder: 'barcelona/3' %>
  </div>
  <div id="altea">
    <h3>Altea - Aug 19</h3>
    <p>
      We said adios to Barcelona and the heart of Catalonia by hopping in a
      rental car and driving south along the Costa Blanca to Altea. Brigitte
      was driving and was pleased with the fast speeds and prompt left-sided
      passes on the freeways, but freaked out when driving through the
      multi-laned roundabouts of the cities. Our poor little rental car
      could barely make it up the hills. We vetoed the larger/industrial
      city of Valencia for a smaller beach town of Altea, but still stopped
      to see the famed Ciudad de las artes y las ciencias that Matt had been
      talking about for weeks. The external park features did not
      disappoint. We arrived in Altea in the evening and stayed at the first
      of many "hostals"--AKA cheaper hotels all with private
      rooms/baths/balconies. This one even came with a bidet! We booked all
      of these through booking.com, which comes highly recommended for cheap
      foreign travel.
    </p>
    <%= render 'image_array', folder: 'altea/1' %>
    
    <h3>Altea - Aug 20</h3>
    <p>
      The next couple days in Altea were full of relaxation. We worked on
      our tans on the pebble beaches and ate great meals along a hopping
      waterfront stretch. One of our highlights was renting bikes and riding
      past the town of Albir to hike through the Sierra Helada national park
      (named as such because it looks like a giant iceberg on a moonlit
      night) which offered amazing views of the coastline and had a
      lighthouse at the top. Wished we had spent a couple more days in this
      fantastic town.
    </p>
    <%= render 'image_array', folder: 'altea/2' %>

    <h3>Altea - Aug 21</h3>  
    <%= render 'image_array', folder: 'altea/3' %>

  </div>
  <div id="granada">
    <h3>Granada - Aug 22</h3>
    <p>
      We arrived in Granada in the middle of the siesta and Brigitte was
      nervous we got the directions wrong. It was a sweltering ghost town.
      After waiting out the heat, we ventured to the nearby Albacin
      neighborhood and walked along the river and up to the Mirador San
      Nicolas which had a fantastic view of the ancient Alhambra fortress.
      Found a restaurant with equally amazing views and sipped on our
      sangria as the sun set. Granada is one of the only cities left in
      Spain that will give you free tapas with a drink purchase so we made
      sure to take advantage of that as we meandered our way back to the
      hotel and successfully avoided gypsies known to frequent that area.
    </p>
    <%= render 'image_array', folder: 'granada/1' %>
    
    <h3>Granada - Aug 23</h3>
    <p>
      Woke up at an alarmingly early Spanish hour (7:30AM) for our tour of
      the Alhambra. This was by far our favorite thing in Granada. Fantastic
      grounds, buildings, and views. Plus we got out of there before the
      heat hit! We got some more free tapas that evening, including the
      worst tapas of all time--fried breadcrumbs called Migas. Madrid was
      playing Barcelona that night so we wandered the streets trying to find
      a "scene" to watch the game at.
    </p>
    <%= render 'image_array', folder: 'granada/2' %>
    
  </div>
  <div id="nerja">
    <h3>Nerja - Aug 24</h3>
    Relaxed
    <%= render 'image_array', folder: 'nerja/1' %>

    <h3>Nerja - Aug 25 - 27</h3>
    Train
    Balcon
    Pan sear
    
    Cuevas!
    Relaxed
    <%= render 'image_array', folder: 'nerja/2' %>
  </div>
  <div id="ronda">
    <h3>Ronda - Aug 28</h3>
    puente nuevo (bridge)
    walked below it and above it and everywhere
    great music at the parks
    traga tapas
    <%= render 'image_array', folder: 'ronda/1' %>
    
    <h3>Ronda - Aug 29</h3>
    Ronda ronda ronda
    got a nice painting
    Arab bathhouse
    nice tapas dinner (de locos tapas)
    walked along castle walls
    madrid vs barcelona
    <%= render 'image_array', folder: 'ronda/2' %>
  </div>
  <div id="sevilla">
    <h3>Sevilla - Aug 30 - 31</h3>
    Arab bathhouse!
    Sevilla Catedral
    great dinner at vineria el telmo
    
    had a nice walk
    Sevilla Plaza de espana!
    <%= render 'image_array', folder: 'sevilla' %>

  </div>
  <div id="cordoba">
    <h3>Cordoba - Sep 1</h3>
    Great mozquiterie!
    jewbag dinner
    <%= render 'image_array', folder: 'cordoba' %>

  </div>
  <div id="madrid">
    <h3>Madrid - Sep 2</h3>
    <%= render 'image_array', folder: 'madrid' %>
  </div>
</div>