<% title 'Spain' %>

<style>
#frame {
/*  overflow: hidden;*/
}
#frame #menu {
}
#frame div {
  float: left;
}
</style>

<div id="menu">
  <div id="map">
    <%= image_tag 'spain/poop.png' %>
  </div>
  <ul>
    <li><%= link_to 'Barcelona', anchor: 'barcelona' %></li>
    <li><%= link_to 'Altea', anchor: 'altea' %></li>
    <li><%= link_to 'Granada', anchor: 'granada' %></li>
    <li><%= link_to 'Nerja', anchor: 'nerja' %></li>
    <li><%= link_to 'Ronda', anchor: 'ronda' %></li>
    <li><%= link_to 'Sevilla', anchor: 'sevilla' %></li>
    <li><%= link_to 'Cordoba', anchor: 'cordoba' %></li>
    <li><%= link_to 'Madrid', anchor: 'madrid' %></li>
  </ul>
</aside>

<div>
  <div id="barcelona">
    <div class="title">Barcelona</div>
    8/16 Fri
    arrived in barcelona
    Ida the swede let us in
    brigitte slept for many hours, her first siesta
    christopher colòn 
    walked las romblas and saw scary statues
    Pla
    first of many estrallas
    tried to hit up the club but had no money
    brigitte played the guitar
        
    8/17 Sat
    went to the most crowded beach in the world, san sabastian
    saw some boobies
    had a siesta
    park guelle
    fiesta de gracia
    drinks in the great plaza
    
    8/19 Sun
    milk
    la segrada familia
    casa battlo
    took a tour bus around
    olympics mont juic
    siesta
    <%= render 'image_array', folder: 'barcelona' %>
  </div>
  <div id="altea">
    8/20 Mon
    hasta luego barcelona
    Brigitte experienced her first roundabout
    valencia sciencias!
    arrived at altea
    found a great boardwalk
    
    8/21 Tues
    Worked on the tans, burned my leg
    Rented bikes and rode to Albir
    Walked up the cliffs to a great light tower
    Went to town
    
    <%= render 'image_array', folder: 'altea' %>
  </div>
  <div id="granada">
    8/22 Wed
    Drove to Granada
    Albacin area
    Mirador san nicolas
    Great dinner!!
    
    8/23 Thur
    Alhambra
    Madrid vs Barcelona + breadcrumbs
    <%= render 'image_array', folder: 'barcelona' %>
  </div>
  <div id="nerja">
    8/25-8/26 
    Relaxed
    Train
    Balcon
    Pan sear
    
    8/27 Mon
    Cuevas!
    Relaxed
    <%= render 'image_array', folder: 'nerja' %>
  </div>
  <div id="ronda">
    8/28 Tues
    -> Ronda
    puente nuevo (bridge)
    walked below it and above it and everywhere
    great music at the parks
    traga tapas
    
    8/29 Wed
    Ronda ronda ronda
    got a nice painting
    Arab bathhouse
    nice tapas dinner (de locos tapas)
    walked along castle walls
    madrid vs barcelona
    <%= render 'image_array', folder: 'ronda' %>
  </div>
  <div id="sevilla">
    
    8/30 Thur
    Arab bathhouse!
    Sevilla Catedral
    great dinner at vineria el telmo
    
    8/31 Fri
    had a nice walk
    Sevilla Plaza de espana!
    <%= render 'image_array', folder: 'sevilla' %>
    
  </div>
  <div id="cordoba">
    Great mozquiterie!
    jewbag dinner
    <%= render 'image_array', folder: 'cordoba' %>
  </div>
  <div id="madrid">
    <%= render 'image_array', folder: 'madrid' %>
  </div>
</div>


<script>
$(function() {
  $("img.lazy").lazyload();
});
</script>
