<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= tag :link, rel: 'icon', href: image_path('m.png'), type: 'image/png' %>
  <%= stylesheet_link_tag :application %>
  <%= javascript_include_tag :application %>
  <%= csrf_meta_tag %>
</head>
<%= body do %>
  <div id="header-wrap">
    <div id="header">
      <%= link_to 'matthewhiggins.com', root_path, class: 'title' %>
    </div>
  </div>

  <div id="frame">
    <%= yield %>    
  </div>
  
  <%= render 'analytics' %>
<% end %>
</html>
