<!DOCTYPE html>
<html>
<head>
  <title><%= yield :title %></title>
  <%= tag :link, rel: 'icon', href: image_path('m.png'), type: 'image/png' %>
  <%= stylesheet_link_tag 'application' %>
</head>
<body>
  <div id="header-wrap">
    <div id="header">
      <%= link_to 'matthewhiggins.com', root_path, class: 'title' %>
      <div class="login">
        <% if fb.connected? %>
          <%= fbml 'name' %>
        <% else %>
          <%# fbml 'login-button', 'Say Hello' %>
        <% end %>
      </div>
    </div>
  </div>

  <div id="frame">
    <%= yield %>    
  </div>
  
  <%= render 'analytics' %>
  <%= render 'facebook' %>
</body>
</html>
